*{
    margin: 0;
    display: flex-box;
    flex-direction: column;
}
nav{
    background-color: black;
    color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
body{
    background-color: rgb(67, 70, 75);
    color: bisque;
}