*{
    margin: 0;
    display: flex-box;
    flex-direction: column;
}
nav{
    background-color: rgb(46, 46, 46);
    color: blue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
nav > #imghome{
    height: 50%;
}
nav > a{
    padding: 5px;
    color: rgb(97, 97, 255);
}
body{
    background-color: rgb(100, 100, 100);
    color: rgb(255, 229, 196);
}
body > h1 {
    display: flex;
    align-items: center;
    margin-top: 5px;
}