html{
    padding-top: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(37, 37, 38);
    color: rgb(118, 177, 230);
    font-size: 30px;
}
#h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
div > .in{
    padding: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: rgb(204, 204, 204);
    width: 100%;
}
.li, .li2{
    display: block;
}

#row{
    display: flex;
    flex-direction: row;
    align-items: center;
    row-gap: 0;
}
input{
    background-color: rgb(85, 138, 87);
    border-radius: 5px;
    width: 50%;
    font-size: 0.75rem;
}
.status{
    color: rgb(34, 167, 242);
}
.p, .pl{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}
.pl{
    color: rgb(37, 37, 38);
}